// methods

.methods
  $small-type()
  $code-fonts()

  .args:not(:empty)
    &::before
      content: '('
    &::after
      content: ')'
  .result:not(:empty)
    &::before
      content: '# => '
  .is-empty
    display: none
