// Base

// text
$default-text-color = rgb(33, 33, 33)

$tiny-type()
  color: darken($default-text-color, 80%)
  font-size: 12pt

$small-type()
  color: darken($default-text-color, 40%)
  font-size: 16pt

$normal-type()
  color: $default-text-color
  font-size: 20pt

$big-type()
  color: lighten($default-text-color, 5%)
  font-size: 28pt

$bigger-type()
  color: lighten($default-text-color, 8.5%)
  font-size: 42pt

$biggest-type()
  color: lighten($default-text-color, 10%)
  font-size: 58pt

$code-fonts()
  font-family: Monaco, Consolas, monospace

body
  $normal-type()

// miscellaneous
[hidden]
  display: none
